#banner
  color: rgba(255, 255, 255, 0.8)
  text-align: center
  background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLDOfgiciaAv3icgkwg4ACEAwUd5KZElNbargT2gEGichJy7QA/) center center
  background-size: contain
  height: 606.5px
  @media mq-normal
    height: 924px
    background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM7D1nxiaOHkYVsmmsTHcZ3TsD0vHicvVawxdgTmCJlSCwSw/) center center
    background-position: center center
  .wrapper
    height: 100%
  .inner
    height: 100%
    display: -ms-flexbox
    display: flex
    -ms-flex-pack: center
    justify-content: center
    -ms-flex-align: center
    align-items: center
    flex-direction: column
    padding-top: 310px
    @media mq-normal
      padding-top: 620px

#banner-bio
  font-size: 16px
  color: rgb(214, 214, 214)
  text-align: center
  letter-spacing: 8px
  margin: 0px 0px 70px
  @media mq-normal
    font-size: 32px;

#banner-buttons
  margin-bottom: 100px
  a
    height: 50px
    font-size: 16px
    margin-bottom: 20px
    color: rgb(255, 255, 255)
    background-color: transparent
    line-height: 50px
    text-transform: none
    position: relative
    display: inline-block
    cursor: pointer
    text-align: center
    padding: 0px 58px
    text-decoration: none
    transition: all 0.3s ease-out
    border-radius: 50px
  .buy-ticket
    text-align: center
    height: 70px
    line-height: 70px
    font-size: 24px
    background: linear-gradient(90deg, rgb(51, 121, 255), rgb(133, 44, 255))
    padding: 0px 60px
    border-radius: 6px  

#banner-start
  text-align: center
  padding: 40px 0
  @media mq-normal
    padding: 60px 0
    font-size: 18px

#banner-start-command
  background: lighten(color-navy, 10%)
  font-family: font-mono
  display: inline-block
  padding: 15px 20px
  &:before
    content: "$"
    opacity: 0.5
    padding-right: 10px

#banner-start-link
  color: #fff
  background: color-link
  display: inline-block
  padding: 15px
  text-decoration: none
  transition: 0.2s
  &:hover
    background: color-link-hover

#banner-share
  display: none
  padding-bottom: 60px
  @media mq-normal
    display: block

#intro-feature-title
  background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLAt1ecjaF8Nr9iadArhicd4nNUVo7k3PBwSESKneSL0wuvw/) no-repeat
  margin: 60px auto 16px
  width: 271.5px
  height: 33.5px
  background-size: contain
  @media mq-normal
    width: 543px
    height: 67px

#intro-feature-list
  padding-top: 20px
  display: flex
  flex-flow: column
  display: -webkit-box
  -webkit-box-pack: justify
  -webkit-box-align: center
  @media mq-normal
    flex-flow: row wrap

.intro-feature-wrap
  padding-top: 20px;
  font-size: 18px;
  width: 100%;
  padding: 0px 21px
  @media mq-normal
    -webkit-box-flex: 1
    font-size: 18px
    flex: 0 0 50%
    margin: 0px 42px

.intro-feature
  position: relative
  text-align: center
  @media mq-normal
    text-align: center

.intro-feature-icon
  color: color-link
  font-size: 36px
  padding-bottom: 26px
  text-align: center
  img
    width: 110px
    height: 81px

.intro-feature-title
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  color: rgb(51, 51, 51)
  font-weight: bold
  margin-bottom: 16px
  @media mq-normal
    font-size: 24px

.intro-feature-desc
  text-align: left
  font-size: 12px
  line-height: 14px
  @media mq-normal
    line-height: 24px
    font-size: 14px
#intro-feature-background
  color: rgb(53, 119, 255)
  margin: 40px
  line-height: 20px
  font-size: 14px
  @media mq-normal
    font-size: 24px
    line-height: 40px
    margin: 80px

#intro-user-wrap
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
  h2
    margin-top: 70px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;

.intro-user-item
  display: inline-block;
  margin: 20px 24px;
  img
    width: 80px
    height: 80px
    border-radius: 18px
    
#subject-wrap 
  text-align: center
  padding-top: 37px
  padding-bottom: 35px
  margin: 0px auto
  @media mq-normal
    padding-top: 74px
    padding-bottom: 70px

.subject-title
  background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLDah4qaGjOfkteepVOBfqPpc2KQ4RqkQ5mbIicicibZXxrtA/) no-repeat
  margin: 0px auto 16px
  background-size: contain
  width: 271.5px
  height: 33.5px
  @media mq-normal
    width: 543px
    height: 67px

.subject-main 
  width: 358px
  height: 140px
  background-size: cover
  margin-bottom: 14px
  background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM7I1jBYfDiaKXmlb4CrubsCjJagqiaLDLR1qmHwPetwFyww/) no-repeat
  @media mq-normal
    width: 1196px
    height: 280px
  .subject-main-title
    color: rgb(255, 255, 255)
    font-weight: bold
    width: 312px
    border-bottom: 1px dashed rgb(255, 255, 255)
    font-size: 16px
    padding: 30px 0 15px
    margin: 0 auto 15px
    @media mq-normal
      font-size: 32px
      padding: 60px 0px 30px
      margin: 0px auto 30px

  .subject-main-content 
    font-size: 12px
    color: rgb(255, 255, 255)
    width: 300px
    text-align: center
    line-height: 16px
    margin: 0px auto
    @media mq-normal
      font-size: 16px
      width: 600px
      line-height: 24px

.subject-branch 
  float: left
  width: 388px
  height: 120px
  background-color: rgb(255, 255, 255)
  margin-right: 16px
  margin-bottom: 14px
  @media mq-normal
    margin-bottom: 128px
    height: 264px
  .subject-branch-title
    color: rgb(53, 119, 255)
    font-size: 14px
    font-weight: bold
    padding-top: 23px
    padding-bottom: 14px
    border-bottom: 1px dashed rgb(221, 221, 221)
    margin: 0px 16px 10px
    @media mq-normal
      font-size: 24px
      padding-top: 46px
      padding-bottom: 28px
      margin: 0px 32px 20px
  .subject-branch-content 
    text-align: left
    line-height: 16px
    font-size: 12px
    margin: 0px 16px
    @media mq-normal
      line-height: 24px
      font-size: 16px
      margin: 0px 32px

.no-margin
  margin-right: 0px

#intro-user-wrap 
  text-align: center
  padding-top: 74px
  padding-bottom: 70px
  margin: 0px auto
  .intro-user-title 
    width: 271.5px
    height: 33.5px
    background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM5aDoH6vbhicFbrxibcaWzAmsYAlqvJ32g4KqxiaBtibwRZYg/) no-repeat
    background-size: contain
    margin: 0px auto 16px
    @media mq-normal
      width: 543px
      height: 67px
  .intro-user-item
    display: inline-block
    width: 120px
    margin: 10px
    @media mq-normal
      width: 240px
      margin: 20px
    img 
      width: 80px
      height: 80px
      border-radius: 50%
      @media mq-normal
        width: 160px
        height: 160px
    .name  
      color: rgb(51, 121, 255)
      font-size: 14px
      font-weight: bold
      margin: 14px 0px
      @media mq-normal
        font-size: 22px
    .desc
      font-size: 14px
      color: rgb(51, 51, 51)
      @media mq-normal
        font-size: 18px 

.view-all 
  color: rgb(57, 115, 255)
  font-size: 14px
  text-align: center
  border-width: 1px
  border-style: solid
  border-color: rgb(57, 122, 255)
  border-image: initial
  margin: 40px auto 0px
  border-radius: 4px
  width: 120px
  height: 45px
  line-height: 45px
  @media mq-normal
    width: 160px
    height: 60px
    line-height: 60px
    font-size: 18px

#partner-wrap 
  text-align: center
  padding-top: 74px
  padding-bottom: 100px
  margin: 0px auto
  .partner-title
    background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM5tbceibLErxRBLriaw2LYcvRqPyFYRNMEhL8ia2xBib2nTUA/) no-repeat
    background-size: contain
    margin: 0px auto 36px
    width: 271.5px
    height: 33.5px
    @media mq-normal
      width: 543px
      height: 67px
  .partner-item
    img
      width: 115px
      height: 50px
      float: left
      padding: 5px
      @media mq-normal
        width: 290px
        height: 100px

  ul:after
    clear: both
    content: ''
    display: table  
