layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 前端工作流和规范
bio: 致力于提升研发效率和规范的工程化解决方案
comments: false
---

div#intro-feature-title
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        img.image(src='https://qpic.url.cn/feeds_pic/ajNVdqHZLLAEK8vadWSIhhEiaLmjlf3ibmibwQZt4OgdbDIoqk6huSQOw/')
      h3.intro-feature-title 全行业覆盖
      p.intro-feature-desc 全行业涵盖社交、电竞、娱乐等行业领域，通过视频技术改善人们的生活方式。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        img.image(src='https://qpic.url.cn/feeds_pic/Q3auHgzwzM65fbjjefxauicdrdiaqflxMZ5yyibORsfAb8SOjZ3ByxGqA/')
      h3.intro-feature-title 视频相关技术
      p.intro-feature-desc 视频技术创新大会围绕视频相关技术展开。主题涵盖直播技术实践、音视频安全、图像识别、音视频性能调优等主题，将是一场视听盛宴。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        img.image(src='https://qpic.url.cn/feeds_pic/ajNVdqHZLLCoFnHREu23Cf3L8ytZgBSDicwkRCmrwbAiaWQ17wTfFUIw/')
      h3.intro-feature-title 大咖云集
      p.intro-feature-desc 大咖云集我们的讲师来自腾讯、映客、美图、七牛云、声网、OnVideo等业界知名直播/视频领域企业。具备丰富的视频相关经验，干货满满等你来。      
div#intro-feature-background
  腾讯Live开发者大会（TLC）是由腾讯Now直播IVWEB团队精心打造，致力于提升和促进全行业视频、直播、图像处理等领域的交流和技术创新。      